.card{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
img{
    width: 150px;
    height: 150px;
}
.price{
    color: blue;
   
}
.description{
    padding-left: 20px;
}
.total-price{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.button{
    height: 50px;
    background-color: blanchedalmond;
}
.button:hover{
    cursor: pointer;
    transform: translate(0, 0.25em);
}
.card-product{
    display: flex;
}
*{
    margin: 10px;
}